<div class="login__container">
  <div class="alert__message">
      <div class="alert alert-success" *ngIf="success == true">
        {{ successMessage }}
      </div>
      <div class="alert alert-danger" *ngIf="success == false">
        {{ errorMessage }}
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <div class="card__title">
              <h2>{{ signingUp ? 'Cadastre-se' : 'Login' }}</h2>
          </div>
          <form #loginForm="ngForm" (submit)="onSubmit()">
              <label class="">{{ signingUp ? 'Login: *' : 'Login:' }}</label>
              <input type="text" name="username" [(ngModel)]="username" class="form-control" autocomplete="off">
              <label class="">{{ signingUp ? 'Password: *' : 'Password:' }}</label>
              <input type="password" name="password" [(ngModel)]="password" class="form-control">
              <div class="card__button">
                  <button type="submit" class="btn btn-warning" *ngIf="!signingUp">
                      Acessar
                  </button>
              </div>
              <div class="card__signingup" *ngIf="signingUp">
                  <button type="button" class="btn btn-warning" (click)="signUp()" >
                      Cadastrar
                  </button>
                  <button type="button" class="btn btn-danger" (click)="cancelSigningUp()" >
                      Cancelar
                  </button>
                </div>
          </form>
      </div>
      <div class="card-footer card-footer__background" *ngIf="signingUp">
      </div>
      <div class="card-footer" *ngIf="!signingUp">
          <a href="#" (click)="prepareSigningUp($event)" >Cadastre-se aqui!</a>
      </div>
  </div>
</div>
